.App {
  background-color: #360863;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  background-image: url('./assets/bg.png');
  background-position: 400%;
  background-size: 84%;
  background-repeat: no-repeat;
  font-size: calc(10px + 2vmin);
  color: white;
  .App-content {
    width: 90%;
    display: flex;
    .App-content-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      .App-content-sub-details{
        color: #f8f1ffb8;
      }
    }
    .App-content-form {
      margin-top: calc(100vh - 25em);
    }
    .App-content-center {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      img {
        width: calc(100% - 20px);
        height: 80%;
      }
    }
  }
}
